/*Name: NURIN SYAZWANI BINTI MOHD KHAIRI
  Matric ID: 2020483176
  Assignment: Lab Assignment 4 (JavaScript)*/

/*for overall webpage*/
html{
  background-color:  #2471A3;
  font-family:  arial, verdana, sans-serif;
  margin-left: 20px;
}


/*for heading "Html and CSS quiz"*/
h1{
	text-align: center;
	color: white;
}


/*for time and date*/
#time{
	color: yellow;
	font-size: 20px;
}


/*for division of every question*/
div.quiz{
	background-color: #D0ECE7;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}


/*for name*/
input[type="text"]{
	width: 50%;
	height: 25px;
}


/*for submit and reset button*/
input[type="submit"],input[type="reset"]{
	width: 150px;
	height: 30px;
}